<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            font-size: 14px;
            margin-bottom: 32px;
        }

        a {
            padding: 16px 32px;
            background-color: #5d9cec;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
        }

        footer {
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
        <tr>
            <td align="center">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="512px">
                    <tr>
                        <td align="center">
                            <h1>Chào mừng bạn đến với cộng đồng Spiderum</h1>
                            <p>Hãy nhấn vào nút bên dưới để tạo tài khoản và tham gia cùng chúng tôi (đường link chỉ sử dụng được trong vòng 30 phút)</p>
                            <a href="https://www.google.com/search?q={{ token }}" style="color: white">
                                Đăng ký tài khoản với email &rarr;
                            </a>
                            <footer>
                                <span>Spiderum @ 2016</span><br>
                                <span>Unsubscribe   |   View this email in your browser</span>
                            </footer>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    
    <!-- <div class="wrapper">
        <div class="container">
            <h1>Chào mừng bạn đến với cộng đồng Spiderum</h1>
            <p>Hãy nhấn vào nút bên dưới để tạo tài khoản và tham gia cùng chúng tôi (đường link chỉ sử dụng được trong vòng 30 phút)</p>
            <a href="https://www.google.com/search?q={{ token }}" style="color: white">
                Đăng ký tài khoản với email &rarr;
            </a>
            <footer>
                <span>Spiderum @ 2016</span><br>
                <span>Unsubscribe   |   View this email in your browser</span>
            </footer>
        </div>
    </div> -->
</body>
</html>